extends layout.pug

block head
  link(rel="stylesheet", href="/countries.css")

block content
  h2 Countries
  table
    thead
      th.text-center 🏴
      th Country
      th.number Population
      th SurfaceArea
    tbody
      each row in rows
        tr
          td.fit #{row.CountryCode}
          td #{row.Name}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}
        
        tr
          td.fit #{row.SurfaceArea}
          td #{row.Name}
          - const SurfArea = new Intl.NumberFormat().format(row.SurfaceArea);
          td.fit.number #{SurfArea}